/* GENERAL STYLES */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f4f4f4;
}

h1 {
    color: #333;
}

form {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    margin-bottom: 20px;
}

label {
    display: block;
    margin: 10px 0 5px;
}

input[type="text"], input[type="number"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

button {
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-right: 10px;
    background-color: #cacaca;
}

button:hover {
    background-color: #ddd;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0 20px 0;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 10px;
    text-align: left;
}

/* COLOR STYLES */
.addTrack {
    background-color: #2b8a3e;
    color: #fff;
}

.generateSchedule {
    background-color: #1c7ed6;
    color: #fff;
}

.exportPdf {
    background-color: orangered;
    color: #fff;
}

.exportXls {
    background-color: #2b8a3e;
    color: #fff;
}

#scheduleBody tr:nth-child(even) {
    background-color: #d1d1d1;
}